body{
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}
#navegacion{
    background: gold;
    height: 100%;
    display: inline-block;
    width: 100%;

}
#navegacion .contenedor:hover  ul{
    font-weight: bold;
    color:black;
    text-align: center;
    display: block;
}
#navegacion ul{
    display: none;
    padding: 0;
    margin: 0;
}
#navegacion ul li a{
    color: black;
}
#navegacion .contenedor{
    text-align: center;
}
.titulo{
    width: 120px;
}
#principal #section input{
    height: 40px;
    align-content: center;
    border: 3px solid black;
    width: 300px;
    margin: 0px 60px ;

}
#principal #section #enviar{
    background-color: blue;
    color: white;
}
#principal #section p{
    height: 70px;
}

footer #fot div{
    background-color: white;
    height: 150px;
    margin: 10px 0px 10px 0px;
    border-style: solid;
}
footer #fot div .fas{
    color: blue;
    
}