#colorr{
    background-color: #f4e033;
    height: 200px;
}

.co{
    background-color: darkgray;
    height: 40px;
    font-size: 24;
}
.titulo{
    background-color: #f4e033;
    font-size: 12px;
}
.fas{
    color: green;
}
.far{
    color: green;
}
.verde{
    color: green;
    font-size: 16px;
}
#be{
    color: blue;
}
#bee{
    color: blue;
}
#beee{
    color: blue;
}
.precio{
    font-size: 18px;
}
.desc{
    font-size: 16px;
}
